
{% extends 'baselite.html' %}
{% block title %}Registration Complete{% endblock %}
{% load static %}
{% block content %}
<style>
    @media screen and (max-width: 1024px) {
    /* ここに通常のCSSを書きます。以下は一例です */
    .menu{
        flex-flow: column;
    }
    }
    .menu{
        display:flex;
    }
</style>
<div class="text-center m-5">
    <h1 class="text-anchor">ログイン一覧</h1>
</div>
<div class="menu">
    <div class="w-100 border border-opacity-50 border-2 border-secondary mx-5 mb-4 p-2 rounded-2">
        <div class="">
            <div class="">
                <div class="text-center mt-5">
                    <img src="{% static "img/apple-touch-icon-100x100.png" %}" alt="freee会計" width="100" height="100" >
                    <h class="display-2">教室メニュー</h>

                </div>
            </div>
            <div class="text-center my-5">
                <a class="btn btn-primary btn-lg w-75" href="{% url 'accountsclassroom:login_classroom' %}" >ログインする</a>
            </div>
        </div>
    </div>
    <div class="w-100 border border-opacity-50 border-2 border-secondary mx-5 mb-4 p-2 rounded-2">
        <div class="">
            <div class="">
                <div class="text-center mt-5">
                    <img src="{% static "img/apple-touch-icon-100x100.png" %}" alt="freee会計" width="100" height="100" >
                    <h class="display-2">管理者メニュー</h>

                </div>

            </div>
            <div class="text-center my-5">
                <a class="btn btn-primary btn-lg w-75" href="{% url 'accounts:login' %}" >ログインする</a>
            </div>

        </div>

    </div>
</div>


{% endblock %}