{% extends './base.html' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 

    
<style>
.content-wrapper{
  
}
.content{
    
}
.form{
    border: 5px solid #fafafa;
  padding: 1em;
    width: 100%;
  text-align: center;
  background-color: #ffffff;
}
.student_box{
    
}
.student_table{
    border: 5px solid #fafafa;
    padding: 1em;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
  
}
td{
    
}
.student_th{
    border: 2px solid #fafafa;
    background-color: #c2c1c1;
   
    
}
.student_td{
    
    border-bottom: 1px solid #b0b0b0;
    border-right: 2px solid #ffffff;
   background-color: #fafafa;
   height: 15px;
   
}
.red_td{
    background-color: #f7e7db;
}
.blue_td{
    background-color: #d9eef3;
}
.student_check{
    width:5%;
    min-width: 25px;
}
.student_name{
    width: 10%;
    min-width: 70px;
}
.student_mail{
    width: 15%;
    min-width: 70px;
}
.student_phone{
    width: 10%;
    min-width: 70px;
}
.student_address{
    width: 15%;
    min-width: 70px;
}
.student_text{
    width: 70%;
    min-width: 50px;
    position: relative;
    text-align: left;
}

.teacher_text{
    width: 60%;
   
    position: absolute;
    top: 30px; /* 上を基準 */
    left: 0;      
}
.teacher_text textarea,.manager_text textarea{
  width: 80%;
  height: 85px;
}
.manager_text{
    width: 50%;
    margin: 5px;
    position: absolute;
    top: 30px; /* 上を基準 */
    left: 50%;      
}
.approval_button{
    position:absolute;
    top: 60%;
    right: 1%;
    width: 7%;
}
.detail_button{
    position:absolute;
    top: 20%;
    right: 1%;
    width: 7%;
}
.lesson_data{
    position:absolute;
    top: 5%;
    left: 1%;
    width: 100%;
}
.active_box{
    display: none;
}

    .student_table:hover {
        background-color: #252323; /* マウスオーバー時の背景色 */
    }


</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">      
        <h1>生徒一覧</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>生徒</a></li>
            <li class="active">生徒一覧</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <form method="POST">

                <div>
                    <label for="form_student_name">名前 <span class="text-sm text-danger ">必須</span></label>
                   <input type="text" required value="" name="form_student_name" id="form_student_name">                     
                </div>
                <div>
                    <label for="form_student_mail">配信用メールアドレス<span class="text-sm text-danger ">必須</span></label>
                   <input type="email" required value="" name="form_student_mail" id="form_student_mail">                     
                </div>
                <div>
                    <label for="form_student_post">郵便番号</label>
                   <input type="text" value="" name="form_student_post" id="form_student_post">                     
                </div>
                <div>
                    <label for="form_student_address">住所</label>
                   <input type="text" value="" name="form_student_address" id="form_student_address">                     
                </div>
                <div>
                    <label for="form_student_tel1">生徒の電話番号</label>
                   <input type="text" value="" name="form_student_tel1" id="form_student_tel1">                     
                </div>
                <div>
                    <label for="form_student_tel2">保護者の電話番号</label>
                   <input type="text" value="" name="form_student_tel2" id="form_student_tel2">                     
                </div>
                <div>
                    <label for="form_student_stage">教育段階</label>
                   <input type="text" value="" name="form_student_stage" id="form_student_stage">                     
                </div>
                <div>
                    <label for="form_student_grade">学年</label>
                   <input type="text" value="" name="form_student_grade" id="form_student_grade">                     
                </div>
                <div>
                    <label for="form_student_schoolclass">組</label>
                   <input type="text" value="" name="form_student_schoolclass" id="form_student_schoolclass">                     
                </div>
                <div>
                    <label for="form_student_school">学校</label>
                   <input type="text" value="" name="form_student_school" id="form_student_school">                     
                </div>
                <input type="button" value="保存" class="btn btn-primary" onclick="createStudent()">

            </form>
            

        </div>
        <div class="assessment_box">
            <table class="student_table" style="border-collapse:collapse;border:none;" >
                <thead>
                <tr >
                    <td class="student_th student_check">
                        <input type="checkbox" id="student_check" name="student_check">
                    </td>
                    <td class="student_th student_name">
                        名前
                    </td>
                    <td class="student_th student_mail"> 
                        配信用メールアドレス
                    </td>
                    <td class="student_th student_phone"> 
                        電話番号
                    </td>
                 
                    <td class="student_th student_address"> 
                        住所
                    </td>
                    <td class="student_th student_school"> 
                        学校
                    </td>   
                </tr> 
            </thead>
        </table>
            <div id="student-list">
                <!-- JavaScript will insert rows here -->
            </div>       
    </div>
</section>
</div>
<script>

const addTableListeners = () =>{
    const tables = document.querySelectorAll('.student_table');
    tables.forEach(function(table) {
        table.addEventListener('click', function() {
            const form = table.nextElementSibling;
            if (form && form.classList.contains('active_box')) {
                // 現在の表示状態を確認し、切り替える
                const isVisible = form.style.display === 'block';

                // すべてのフォームを非表示に
                document.querySelectorAll('.active_box').forEach(function(box) {
                    box.style.display = 'none';
                });

                // クリックしたテーブルのフォームを表示/非表示に切り替え
                form.style.display = isVisible ? 'none' : 'block';
            }
        });
    });
}

 

    
const StudentListElement = document.getElementById('student-list');
const printList = () => {
    $.ajax({
        'url': '{% url "classmanager:ajax_get_printstudentlist" %}',
        'type': 'GET',
        'data': {'title': 'post'},
    }).done(response => {
        StudentListElement.innerHTML = ''; 
        let studentList = response.studentlist;
        let schoolList = response.schoollist;
        console.log(schoolList)
        // 学生IDをキーとして学校情報を辞書に変換
        const schoolDict = {};
        const schoolDictnew = {};
        schoolList.forEach(school => {
            const schoolFields = school.fields;
            const schoolpkFields=school.pk;
            schoolDictnew[schoolpkFields] = schoolFields;
            schoolDict[schoolFields.student] = schoolFields;
        });

        studentList.forEach(student => {
    const studentFields = student.fields; 
    const studentPk = student.pk;
    const filteredEntries = Object.entries(schoolDictnew).filter(([key, value]) => value.student === studentPk);
    
    // 各学校に対するフォームフィールドを生成
    const schoolFormsHtml = filteredEntries.map(([key, schoolInfo]) => {
        return `
        <div data-school-id=${key} >
            <div>
                <label for="form_student_stage_${key}">教育段階</label>
                <input type="text" value="${schoolInfo.stage}" name="form_student_stage_${key}" id="form_student_stage_${key}">
            </div>
            <div>
                <label for="form_student_grade_${key}">学年</label>
                <input type="text" value="${schoolInfo.grade}" name="form_student_grade_${key}" id="form_student_grade_${key}">
            </div>
            <div>
                <label for="form_student_schoolclass_${key}">組</label>
                <input type="text" value="${schoolInfo.schoolclass}" name="form_student_schoolclass_${key}" id="form_student_schoolclass_${key}">
            </div>
            <div>
                <label for="form_student_school_${key}">学校</label>
                <input type="text" value="${schoolInfo.school}" name="form_student_school_${key}" id="form_student_school_${key}">
            </div>
            <div style="display:inline;">
                <input type="button" value="保存" class="btn btn-primary" onclick="updateStudentSchool(${key})">
                <input type="button" value="削除" class="btn btn-danger" onclick="deleteStudentSchool(${key})">
            </div>
        </div>
        `;
    }).join('');

    const row = document.createElement('div');
    row.setAttribute('data-student-id', studentPk);
    row.innerHTML = `
        <table class="student_table" style="border-collapse:collapse;border:none;" >
            <tr>
                <td class="student_td student_check">
                    <input type="checkbox" id="student_check" name="student_check">
                </td>
                <td class="student_td red_td student_name">
                    ${studentFields.name}
                </td>
                <td class="student_td student_mail">
                    ${studentFields.mail}
                </td>
                <td class="student_td student_phone">
                    ${studentFields.phone1}<br>${studentFields.phone2}
                </td>
                <td class="student_td student_address">
                    ${studentFields.post}<br>${studentFields.address}
                </td>
                <td class="student_td student_school school_list">
                    ${filteredEntries.map(([key, schoolInfo]) => `学校：${schoolInfo.school} 区分：${schoolInfo.stage} 学年：${schoolInfo.grade}年 クラス：${schoolInfo.schoolclass}組`).join('<br>')}
                </td>
            </tr>
        </table>
        <div class="active_box box" style="display: none;">
            <form>
                <div>
                    <label for="form_student_name">名前 <span class="text-sm text-danger ">必須</span></label>
                    <input type="text" required value="${studentFields.name}" name="form_student_name" id="form_student_name">
                </div>
                <div>
                    <label for="form_student_mail">配信用メールアドレス<span class="text-sm text-danger ">必須</span></label>
                    <input type="email" required value="${studentFields.mail}" name="form_student_mail" id="form_student_mail">
                </div>
                <div>
                    <label for="form_student_post">郵便番号</label>
                    <input type="text" value="${studentFields.post}" name="form_student_post" id="form_student_post">
                </div>
                <div>
                    <label for="form_student_address">住所</label>
                    <input type="text" value="${studentFields.address}" name="form_student_address" id="form_student_address">
                </div>
                <div>
                    <label for="form_student_tel1">生徒の電話番号</label>
                    <input type="text" value="${studentFields.phone1}" name="form_student_tel1" id="form_student_tel1">
                </div>
                <div>
                    <label for="form_student_tel2">保護者の電話番号</label>
                    <input type="text" value="${studentFields.phone2}" name="form_student_tel2" id="form_student_tel2">
                </div>
                 <div style="display:inline;">
                <input type="button" value="保存" class="btn btn-primary" onclick="updateStudent(${studentPk})">
                <input type="button" value="削除" class="btn btn-danger" onclick="deleteStudent(${studentPk})">
            </div>
                ${schoolFormsHtml}
            </form>
            <div style="display:inline;">
                <input type="button" value="学校を追加" class="btn btn-info" onclick="addformStudentSchool(${studentPk})">
            </div>
        </div>
    `;

    StudentListElement.appendChild(row);
});
        addTableListeners();
    });
    
};

function createStudent() {
    var form = document.querySelector('form');

    if (!form.checkValidity()) {
        form.reportValidity(); // 初期問題があったばかりでなく、問題を示すメッセージも表示する。
        return;
    }

    const studentName = document.getElementById('form_student_name').value;
    const studentMail = document.getElementById('form_student_mail').value;
    const studentPost = document.getElementById('form_student_post').value;
    const studentAddress = document.getElementById('form_student_address').value;
    const studentTel1 = document.getElementById('form_student_tel1').value;
    const studentTel2 = document.getElementById('form_student_tel2').value;
    const studentSchool = document.getElementById('form_student_school').value;
    const studentGrade = document.getElementById('form_student_grade').value;
    const studentSchoolClass = document.getElementById('form_student_schoolclass').value;
    const studentStage = document.getElementById('form_student_stage').value;


    // Ajaxリクエストを送信
    $.ajax({
        url: '{% url "classmanager:ajax_get_createstudentlist" %}',
        type: 'GET',
        data: {
            student_name: studentName,
            student_mail: studentMail,
            student_post: studentPost,
            student_address: studentAddress,
            student_tel1: studentTel1,
            student_tel2: studentTel2,
            student_school: studentSchool,
            student_grade: studentGrade,
            student_schoolclass: studentSchoolClass,
            student_stage: studentStage,
        },
        success: function(response) {
            if (response.success) {
                printList(); // 保存後の学生リストの再読み込み
            } else {
                alert("保存に失敗しました。");
            }
        },
        error: function() {
            alert("通信エラーが発生しました。");
        }
    });
}

function updateStudent(studentId) {
    // 対象の学生のフォーム要素を取得
    const form = document.querySelector(`#student-list div[data-student-id="${studentId}"] form`);

    // フォームのバリデーションをチェック
    if (!form.checkValidity()) {
        form.reportValidity(); // フォームエラーを表示する（ブラウザのデフォルトバリデーションを使用）
        return; // バリデーションに失敗した場合、処理を中断
    }

    // 各フィールドから値を取得
    const name = form.querySelector(`#form_student_name`).value;
    const mail = form.querySelector(`#form_student_mail`).value;
    const post = form.querySelector(`#form_student_post`).value;
    const address = form.querySelector(`#form_student_address`).value;
    const phone1 = form.querySelector(`#form_student_tel1`).value;
    const phone2 = form.querySelector(`#form_student_tel2`).value;

    // バリデーションが成功した場合、Ajaxでの更新処理を行う
    $.ajax({
        url: '{% url "classmanager:ajax_get_updatastudentlist" %}',
        type: 'GET',
        data: {
            'student_id': studentId,
            'student_name': name,
            'student_mail': mail,
            'student_post': post,
            'student_address': address,
            'student_tel1': phone1,
            'student_tel2': phone2,
        },
        success: function(response) {
            if (response.success) {
                alert("学生情報が更新されました。");
                printList(); // 更新後の学生リストの再読み込み
            } else {
                alert("更新に失敗しました。");
            }
        },
        error: function() {
            alert("通信エラーが発生しました。");
        }
    });
}

const deleteStudent = (studentId) => {
    const userConfirmed = confirm('この学生を削除してもよろしいですか関連する情報がすべて削除されます');

    if (userConfirmed) {
        console.log(studentId);
    $.ajax({
        'url': '{% url "classmanager:ajax_get_deletestudentlist" %}',
        'type': 'GET',
        'data': {'student_id': studentId}
    }).done(response => {
        printList(); // 学生リストを再読込み
        // if (response.success) {
        //     alert("学生が正常に削除されました。");
        //     printList(); // 学生リストを再読込み
        // } else {
        //     alert("学生削除に失敗しました。");
        // }
    // }).fail(() => {
    //     alert("AJAXリクエストでエラーが発生しました。");
    
    });
}
};



function addformStudentSchool(studentPk) {
    const container = document.querySelector(`#student-list div[data-student-id="${studentPk}"] .active_box`);
    const existingForm = container.querySelector(`#form_student_stage_${studentPk}`);
    
    if (existingForm) {
        return; // 既にフォームが存在する場合は追加しない
    }
    
    const form = document.createElement('form');
    form.innerHTML = `
    <div data-school-id=${studentPk} >
        <div>
            <label for="form_student_stage_${studentPk}">教育段階</label>
            <input type="text" name="form_student_stage" id="form_student_stage_${studentPk}">
        </div>
        <div>
            <label for="form_student_grade_${studentPk}">学年</label>
            <input type="text" name="form_student_grade" id="form_student_grade_${studentPk}">
        </div>
        <div>
            <label for="form_student_schoolclass_${studentPk}">組</label>
            <input type="text" name="form_student_schoolclass" id="form_student_schoolclass_${studentPk}">
        </div>
        <div>
            <label for="form_student_school_${studentPk}">学校</label>
            <input type="text" name="form_student_school" id="form_student_school_${studentPk}">
        </div>
        <input type="button" value="保存" class="btn btn-primary" onclick="createStudentSchool(${studentPk})">
        </div>
    `;
    container.appendChild(form);
}
function updateStudentSchool(schoolId) {
    console.log(schoolId)
    const form = document.querySelector(`#student-list div[data-school-id="${schoolId}"]`);
  

    // 取得した値をログに出力して確認
    const stage = form.querySelector(`#form_student_stage_${schoolId}`).value;
    const grade = form.querySelector(`#form_student_grade_${schoolId}`).value;
    const schoolclass = form.querySelector(`#form_student_schoolclass_${schoolId}`).value;
    const school = form.querySelector(`#form_student_school_${schoolId}`).value;

    console.log({stage, grade, schoolclass, school});
    
    $.ajax({
        url: '{% url "classmanager:ajax_update_student_school" %}',
        type: 'GET',
        data: {
            'school_id': schoolId,
            'student_stage': stage,
            'student_grade': grade,
            'student_schoolclass': schoolclass,
            'student_school': school
        },
        success: function(response) {
            if (response.success) {
                alert("学生の学校情報が更新されました。");
                printList();
            } else {
                alert("更新に失敗しました。");
            }
        },
        error: function() {
            alert("通信エラーが発生しました。");
        }
    });
}

function deleteStudentSchool(schoolId) {
    const userConfirmed = confirm('この学校データを削除してもよろしいですか？');
  
    if (userConfirmed) {
        $.ajax({
            url: '{% url "classmanager:ajax_delete_student_school" %}', // 正しいURLの指定
            type: 'GET',
            data: { 'school_id': schoolId },
            success: function(response) {
                if (response.success) {
                    alert("学校データが削除されました。");
                    printList(); // 更新後のリスト表示
                } else {
                    alert("削除に失敗しました: " + response.error);
                }
            },
            error: function() {
                alert("通信エラーが発生しました。");
            }
        });
    }
}


function createStudentSchool(studentId) {
    // 各入力項目から値を取得
    const stage = document.getElementById(`form_student_stage_${studentId}`).value;
    const grade = document.getElementById(`form_student_grade_${studentId}`).value;
    const schoolclass = document.getElementById(`form_student_schoolclass_${studentId}`).value;
    const school = document.getElementById(`form_student_school_${studentId}`).value;

    // 新しい学校データを作成するためのリクエストをGETメソッドで送信
    $.ajax({
        url: '{% url "classmanager:ajax_create_student_school" %}',  // 適切なURLに更新してください
        type: 'GET',
        data: {
            'student_id': studentId,
            'student_stage': stage,
            'student_grade': grade,
            'student_schoolclass': schoolclass,
            'student_school': school
        },
        success: function(response) {
            if (response.success) {
                alert("新しい学校情報が作成されました。");
                printList(); // 新しいデータを反映するためにリストを再読み込み
            } else {
                alert("学校情報の作成に失敗しました。");
            }
        },
        error: function() {
            alert("通信エラーが発生しました。");
        }
    });
}

printList();


</script>


{% endblock content %}

