{% extends './base.html' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 

    
<style>
    .content-wrapper {
        margin: 20px auto;
        width: 80%;
    }
    
    .box {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    
    .form-group {
        margin-bottom: 15px;
    }
    
    .btn {
        margin-top: 10px;
    }
    
    .feedback {
        margin-top: 20px;
        color: green;
    }
    
    /* スイッチ用のCSS */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
    }
    
    input:checked + .slider {
        background-color: #2196F3;
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
        transform: translateX(26px);
    }
    
    /* スイッチの形を丸くする */
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
    </style>
<div class="content-wrapper">
    <section class="content-header">
        <h1>設定</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 設定</a></li>
            <li class="active">設定</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="form-group">
                <label for="emailAddress">メールアドレス</label>
                <input type="email" id="emailAddress" class="form-control">
            </div>
            <div class="form-group">
                <label for="emailSetting">Eメール通知設定</label>
                <label class="switch">
                    <input type="checkbox" id="emailSetting">
                    <span class="slider round"></span>
                </label>
            </div>
            <button id="saveSettings" class="btn btn-primary">設定を保存する</button>
        </div>
        <div id="feedback" class="feedback"></div>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<script>
$(document).ready(function() {
    // Fetch user settings on page load
    $.ajax({
        url: '{% url "classmanager:update_settings" %}',
        type: 'GET',
        success: function(response) {
            $('#emailAddress').val(response.send_email_address);
            $('#emailSetting').prop('checked', response.email_setting);
        },
        error: function(xhr, status, error) {
            $('#feedback').text('An error occurred while fetching data: ' + error);
        }
    });

    $('#saveSettings').on('click', function() {
        var emailAddress = $('#emailAddress').val();
        var emailSetting = $('#emailSetting').is(':checked');

        $.ajax({
            url: '{% url "classmanager:update_settings" %}',
            type: 'POST',
            data: {
                'email_address': emailAddress,
                'email_setting': emailSetting,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                $('#feedback').text(response.message);
            },
            error: function(xhr, status, error) {
                $('#feedback').text('An error occurred: ' + error);
            }
        });
    });
});
</script>


{% endblock content %}

